# Python
venv/
__pycache__/
*.pyc
*.pyo
db.sqlite3

# Environment variables
.env
*.env

# Django
media/
staticfiles/

# Node / Next.js
node_modules/
.next/
out/

# Editor/OS
.vscode/
.DS_Store
Thumbs.db